<div class="content-wr">
  
    <div class="search-form form-field justify-content-end">
        <div class="search-field">
      
      <div class="field-div">
        <h1 class="mt-2">Domain</h1>
      </div>
    </div>
    <div class="search-add-wr addButton">
      <button type="button" class="btn-style btn-block m-0" (click)="opendialog($event)">
        Add
      </button>
    </div>
  </div>

  <section class="list-section mt-5">
    <div class="loader-container" *ngIf="isLoadedTable">
        <app-loader></app-loader>
    </div>
    
  <form *ngIf="!isLoadedTable">
    <table class="table table-bordered domaintable">
      <thead class="thead-light">
        <tr>
          <!-- <th width="70" scope="col">Sno.</th> -->
          <th scope="col" (click)="sort('domainName')">
            <i *ngIf="sortDirection=='asc'" class="fa fa-arrow-up" aria-hidden="true"></i>
            <i *ngIf="sortDirection=='desc'" class="fa fa-arrow-down" aria-hidden="true"></i>
            Domain
          </th>
          <th scope="col">URL</th>
          <th width="120" scope="col">
            Status
          </th>

          <th width="120" scope="col">
            Actions
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let domain of domainList">
          <!-- <td scope="row" width="70">
              <strong>{{ domain.id }}</strong>
            </td> -->
          <td>
            {{ domain.domainName }}
          </td>

          <td>
            {{ domain.domainUrl }}
          </td>
          <td>
            <p *ngIf="domain.active">Active</p>
            <p *ngIf="!domain.active">In-active</p>

          </td>

          <td width="120">
            <div class="d-flex">
              <button class="btn btn-default" [disabled]="!domain.active" (click)="editDomain(domain)">
              <span  class="edit-icon mr-3" title="Edit" ></span>
            </button>
              <!-- <span class="del-icon" title="Delete" (click)="deleteDomain(domain)"></span> -->
              <span
              (click)="activateDeactivate(domain)"
              *ngIf="!domain.active"
              class="markdone-icon mr-3"
              title="Active"
            ></span>

            <span
              *ngIf="domain.active"
              (click)="activateDeactivate(domain)"
              class="close-bg mr-3"
              title="Deactive"
              ><span class="markundone-icon" title="Deactivate"></span>
            </span>

            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="d-flex justify-content-center p-2 align-center">
      <ngb-pagination [collectionSize]="collectionSize" [(page)]="service.page" 
        (pageChange)="refreshDomains()" [maxSize]="service.maxSize" 
        class="pagination-rounded pagination-here">
          <ng-template ngbPaginationPrevious>Prev</ng-template>
          <ng-template ngbPaginationNext>Next</ng-template>
          <ng-template ngbPaginationEllipsis>...</ng-template>
          <ng-template ngbPaginationNumber let-page>{{ page }}</ng-template>
        </ngb-pagination>
    </div>
  </form>
  </section>
</div>