<div class="content-wr">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Dealer</h1>
        <div>
            <button type="button" class="btn-style btn-width m-0">Upload</button>
            <button type="button" class="btn-style btn-width m-0">Download Format</button>
        </div>
    </div>
    <div class="search-form form-field">
        <div class="search-field">
            <div class="field-div">
                <input type="text" class="form-control" placeholder="Product ID">
            </div>
            <div class="field-div">
                <select class="selectpicker form-control form-select" title="Select Location" data-style="btn-info" id="Location"
                    name="Location">
                    <option value="" disabled selected hidden>Select a Location</option>
                    <option value="Electronic">A</option>
                    <option value="Car"> B</option>
                    <option value="Bike">C</option>
                </select>
            </div>
            <div class="field-div">
                <select class="selectpicker form-control form-select" title="Select Manufacturer" data-style="btn-info" id="Manufacturer"
                    name="Manufacturer">
                    <option value="" disabled selected hidden>Select a Manufacturer</option>
                    <option value="HTAuto">A</option>
                    <option value="HTTech">B</option>
                    <option value="HTlivemint">C</option>
                </select>
            </div>
        </div>
        <div class="search-add-wr">
            <button type="submit" class="btn-style btn-block mr-2">Search</button>
            <button type="button" class="btn-style btn-block m-0" (click)="addDealer($event)">Add</button>
        </div>
    </div>
    <section class="list-section mt-5">
        <form>
            <table class="table table-bordered dealerTable">
                <thead class="thead-light">
                <tr>
                    <th scope="col"  sortable="sno" (sort)="onSort($event)" width="70">Sno.</th>
                    <th scope="col" >Product Id</th>
                    <th scope="col" >Address</th>
                    <th scope="col" >City</th>
                    <th scope="col" >PIN code</th>
                    <th scope="col" >Is Active</th>
                    <th scope="col" >Test Drive Available</th>
                    <th scope="col" >Email</th>
                    <th scope="col" >Showroom Contact</th>
                    <th scope="col" >Service Contact</th>
                    <th scope="col" >Test Drive Contact	</th>
                    <th scope="col" width="120">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let dealer of dealers">
                    <td scope="row" sortable="sno" class="align-middle text-center">{{dealer.sno}}</td>
                    <td>{{dealer.productId}}</td>
                    <td>{{dealer.address}}</td>
                    <td>{{dealer.city}}</td>
                    <td>{{dealer.PINCode}}</td>
                    <td>{{dealer.isActive}}</td>
                    <td>{{dealer.testDriveAvailable}}</td>
                    <td>{{dealer.email}}</td>
                    <td>{{dealer.showroomContact}}</td>
                    <td>{{dealer.serviceContact}}</td>
                    <td>{{dealer.testDriveContact}}</td>
                    <td class="align-middle">
                        <div class="d-flex">
                            <span class="edit-icon mr-3" title="Edit" (click)="editDealer(dealer)"></span>
                            <span class="del-icon" title="Delete" (click)="deleteDealer(dealer)"></span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="d-flex justify-content-center p-2 align-center">
            <ngb-pagination
              [collectionSize]="collectionSize"
              [(page)]="service.page"
              [pageSize]="service.pageSize"
              (pageChange)="refreshDealers()"
            >
            </ngb-pagination>
        </div>
    </form>
    </section>
</div>

