<div class="content-wr">
  <div class="search-form form-field justify-content-end">
    <div class="search-field">
      <div class="field-div">
        <h1 class="mt-2">State</h1>
      </div>
    
    </div>
    <div class="search-add-wr addButton">
      <button type="button" class="btn-style btn-block m-0" (click)="opendialog($event)">
        Add
      </button>
    </div>
  </div>
  <section class="list-section mt-5">
    <div class="loader-container" *ngIf="isLoadedTable">
        <app-loader></app-loader>
    </div>
  <form *ngIf="!isLoadedTable">
    <table class="table table-bordered stateTable">
      <thead class="thead-light">
        <tr>
          <th scope="col" (click)="sort('state')">
            <i *ngIf="sortDirection=='asc'" class="fa fa-arrow-up" aria-hidden="true"></i>
            <i *ngIf="sortDirection=='desc'" class="fa fa-arrow-down" aria-hidden="true"></i>
            State
          </th>
          <th width="120" scope="col">
            Status
          </th>

          <th width="120" scope="col">
            Actions
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let state of stateList">
          <td>
            {{ state.state }}
          </td>
          <td>
            <p *ngIf="state.active">Active</p>
            <p *ngIf="!state.active">In-active</p>

          </td>

          <td width="120">
            <div class="d-flex">
              <span *ngIf="state.active" class="edit-icon mr-3" title="Edit" (click)="editState(state)"></span>
              <span *ngIf="!state.active" class="edit-icon mr-3" style="opacity: 0.2;" title="disabled"></span>
              <span *ngIf="!state.active" class="markdone-icon" title="Active" (click)="changeStatusStates(state)"></span>
              <span *ngIf="state.active" class="close-bg" title="Deactive"><span class="markundone-icon"
                      (click)="changeStatusStates(state)"></span>
              </span>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="d-flex justify-content-center p-2 align-center"><ngb-pagination [collectionSize]="collectionSize" [(page)]="service.page" 
      (pageChange)="refreshStates()" [maxSize]="service.maxSize" class="pagination-rounded pagination-here"
      >
        <ng-template ngbPaginationPrevious>Prev</ng-template>
        <ng-template ngbPaginationNext>Next</ng-template>
        <ng-template ngbPaginationEllipsis>...</ng-template>
        <ng-template ngbPaginationNumber let-page>{{ page }}</ng-template>
      </ngb-pagination>
    </div>
  </form>
  </section>
</div>