.attributeSetTable{
    margin-top: 50px;
    th {
        padding: 0.75rem;
        background-color: #fafafa; 
    }
 
 
    td {
        padding: 0.75rem;
        
    }
}
.valueNull {
    color:#000 !important;
}
